@{
    ViewBag.Title = "What is SimpleTodo?";
}

<h2>About SimpleTodo</h2>
<p>Quite simply, SimpleTodo is a simple todo list manager written in ASP.NET MVC3.</p>
<p>The goal of SimpleTodo is to demonstrate the fundamentals of ASP.NET MVC3, as well as to serve as a simple way of reminding its users to do things.</p>
<p>Come on in! Have a look around! Enjoy yourself!</p>
