@{
    ViewBag.Title = "What is SimpleTodo?";
}
<div class="page-header">
    <h1>About SimpleTodo  <small>aka. whats all the fuss about?!?!</small></h1>
</div>
<div class="row">
    <div class="span6">
        <p>The goal of SimpleTodo is to demonstrate the fundamentals of ASP.NET MVC3, as well as to serve as a simple way of reminding its users to do things.</p>
    </div>
    <div class="span4">
        <p>Come on in! Have a look around! Enjoy yourself!</p>
    </div>
</div>